.card-deck{
  margin-bottom: 1em;
}
.card {
  margin-bottom: 1em;
}

.firmante{
  border: 1px solid black;
  border-radius: 16px;
}
.blue{
  background-color: blue;
}

.box-red{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: .9rem;
  color: white;
  background-color: #FA5858;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.flotante{
  position:fixed;
  top:5%;
  right: 5%;
  bottom: 5%;
  left: 70%;
  z-index:5;
  border: 1px solid black;
  border-radius: .25rem;
  box-shadow:0 0 5px #333;
  background-color: white;
}

@media (max-width: 425px) {
  .flotante { left: 5%;  }
}
@media (min-width: 426px ) and (max-width: 768px) {
  .flotante { left: 35%; }
}



.btn-flotante{
  position:fixed;
  
  right: 4%;
  bottom: 4%;
  z-index:6;
}

.red{
  background-color: #e3342f;
  color: white;
}

.notificacion{
  min-width: 25rem;
  max-height: 20rem;
  overflow: auto;
}

#barraNavegacion{
  height:10%;
  background-color: #202124;
}

#chat{
  display:block;
  background:#333;
  height:80%;
  overflow: auto
}
#mensajes{
  margin:1em;
}
.mensaje{
  clear:both;
  border-radius:5px;
  max-width:60%;
  padding:1em;
  color:white;
  overflow-wrap: break-word;
  margin:0.3em;
}
.mensajeAmigo{
  float:left;
  background:#0033ff;
}
.mensajePropio{
  float:right;
  background:gray;
}

#areaMensaje{
  display:block;
  height:10%;
  margin:.5em;
}
#textAreaMensaje{
  border-radius:5px;
  height:15%;
  padding:0.5em;
  font-size:1em;
  width:calc(100% - 2em);
  min-width:1em;
  margin:1em;
  color:black;
}
/*
.mensajeAmigo:hover{
  float:left;
  background:#0066ff;
}
.mensajePropio:hover{
  background:darkgray;
}
.botonEnviar{
  padding:0.5em;
  font-size:1.1em;
  width:calc(100% - 2em);
  margin: 0 1em;
  border-radius:5px;
  color:white;
  background:#0066ff;
}
.botonEnviar:hover{
  background:#0033cc;
}
.botonEnviar:active{
  background:#000099;
  color:black;
}
*/
.mensaje-margin-zero{
  margin: 0;
  padding: 0;
}