body{
  background-color: #16212B;
  color: white;
}
h1{
  color:white;
}
.navbar-laravel{
  background-color: #0E1621;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus{
  color: white;
}

.navbar-light .navbar-brand:hover{
  color: gray;
}

.navbar-light .navbar-nav .nav-link{
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color: gray;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: gray;
}